body {
  background-color: #eee !important;
}

label {
  color: #00b0ff;
}
.panel-heading label {
  color: #fff;
  padding-left: 15px;
}

.righted {
  padding-right: 0;
}

  .righted .btn {
    width: 100%;
  }

textarea {
  resize: none;
}

.lefted {
  padding-left: 0;
}

/*.right-side > .form-group:first-child {
  margin-top: 20px;
}*/

.right-side, .left-side {
  margin-top: 30px;
}

.container {
  margin: 20px auto;
  padding-bottom: 10px;
  background-color: #fff;
}

.form-control {
  border-radius:         2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
  color: #999 !important;
}

.selectize-input {
  background-image: none !important;
}

.selectize-input .caret {
  border: none;
}

  .selectize-input.selectize-focus {
    border-color: #d9d9d9 !important;
  }

  .selectize-control.single .selectize-input:after {
    content: '';
    background: url('../images/dropdown_arrow.png') 50% 50% no-repeat;
    width: 19px;
    height: 7px;
    position: absolute;
    right: 15px;
    border: none;
  }

.checkbox.tick {
  padding-left: 0;
}

.checkbox.tick label {
  padding-left: 25px;
  color: #4d4d4d;
  line-height: 17px;
}

.pencil-icon {
  height: 22px;
  background: url('../images/pencil_icon.png') left center no-repeat;
  display: inline-block;
  line-height: 23px;
  padding-left: 27px;
}

.btn-panel {
  border-radius:         2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
  outline: none !important;
  background-color: #00b0ff;
  color: #fff;
  padding: 6px;
}

  .btn-panel:hover,
  .btn-panel:focus {
    color: #fff;
  }

.spacer {
  float: none;
  clear: both;
}

hr {
  margin: 10px 0;
}

.checkbox.tick input[type="checkbox"]:checked + label {
  color: #00b0ff;
}

.checkbox.tick input[type="checkbox"]:checked + label::after {
  background: url('../images/checbox_checked-bg.png') center center no-repeat;
  position: absolute;
  top: -3px;
  left: 5px;
  content: "";
}

.checkbox.tick label::before,
.checkbox.tick label::after {
  width: 14px;
  height: 14px;
  outline: none !important;
  border-radius:         0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius:    0px !important;
  margin-left: 0px;
}

.panel-group .panel {
  border-radius:         2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
  border-color: #7fd7ff;
}

.panel-group .panel.grey_border {
  border-color: #dfdfdf;
  background-color: #f2f2f2;
}

.panel-group .panel {
  margin-bottom: 20px;
}

.panel-primary>.panel-heading {
  background-color: #00b0ff;
  background-image: none !important;
  padding: 1px 13px;
}

.panel .checkbox-circle label::before {
  border: 1px solid #fff;
  background: none;
  width: 18px;
  height: 18px;
  outline: none;
}

.panel_header_link {
  position: relative;
  display: block;
}

.panel_header_link .sign {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius:         5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius:    5px !important;
  position: absolute;
  top: 4px;
  left: 4px;
}

.full_amount {
  color: #00b0ff;
  position: relative;
}

.question-sign {
  background: url('../images/question-sign.png') center center no-repeat;
  width: 27px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.close {
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -7px;
  background: url('../images/close.png') center center no-repeat;
  width: 13px;
  height: 13px;
  opacity: .7;
}

.fullsize {
  position: relative;
  width: 100%;
}

  .fullsize .question-sign {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
  }

.serv_for_customers_wrapper,
.blue_bordered {
  border: 1px solid #7fd7ff;
  border-radius:         2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
  padding: 10px;
}

.blue_bordered {
  margin-bottom: 10px;
}

.serv_for_customers_wrapper > label {
  color: #999;
  font-weight: normal;
}

.and_sign {
  line-height: 37px;
  text-align: left;
  padding: 0;
  color: #999;
}

.serv_row {
  padding: 3px 0;
  color: #10b4fe;
  font-weight: bold;
}

.serv_row:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}

.serv_row .close {
  top: 12px;
}

.serv_button:hover,
.serv_button:focus {
  color: #fff;
}

.serv_button {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  background-color: #b3b3b3;
  background-image: url('../images/plus_icon.png');
  background-position: 43% 50%;
  background-repeat: no-repeat;
  border: 1px solid #d2d2d2;
  border-radius:         2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius:    2px !important;
}

.navbar,
nav > .container {
  background: none !important;
  border: none !important;
}

.btn-nav:hover,
.btn-nav:focus {
  color: #fff;
}

.btn-nav.blue {
  background-color: #00b0ff;
}

.btn-nav.default:hover,
.btn-nav.default:focus {
  color: #b3b3b3;
}

.btn-nav.default {
  background: none;
  border: 1px solid #d4d4d4;
  color: #b3b3b3;
}

.btn-nav {
  line-height: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius:         4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius:    4px !important;
  min-width: 130px;
}

/* Gallery stiles */
#thumb-carousel {
  padding: 0 25px;
}

#thumb-carousel li.video {
  position: relative;
}

#thumb-carousel img {
  display: block;
  opacity: .5;
  cursor: pointer;
}

#thumb-carousel .flex-active-slide img {
  opacity: 1;
  cursor: default;
}

.thumb_video {
  background: url('../images/thumb_video_sign.png') center center no-repeat;
  width: 43px;
  height: 41px;
  margin-top: -20px;
  margin-left: -21px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  cursor: hand;
}

.gallery_wrapper {
  border: 1px solid #ccc;
}

.gallery_wrapper li div {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flex-next, .flex-prev {
  background-position: center center;
  background-repeat: no-repeat;
  width: 9px !important;
  height: 16px !important;
  margin-top: -8px !important;
  outline: none !important;
}

.flex-next {
  right: 0 !important;
  background-image: url('../images/slider-next-arrow.png');
}

.flex-prev {
  left: 0 !important;
  background-image: url('../images/slider-prev-arrow.png');
}

#slider .flex-nav-next,
#slider .flex-nav-prev {
  display: none;
}

@media(max-width: 768px) {
  .selectize-control.single .selectize-input:after {
    right: 5px;
  }
}

