<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#{{ id }}" class="panel_header_link">
        <div-panel-radio /></a>
    </h4>
  </div>
  <div id="{{ id }}" class="panel-collapse collapse">
    <div class="panel-body">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>
