<div class="gallery_wrapper">
  <flex-slider slider-id="slider"
    flex-slide="item in images track by $index" animation="fade"
    animation-loop="false" sync="#thumb-carousel" slideshow="false"
    control-nav="false" init-delay="100">
    <li>
      <!-- If object is ordinary image -->
      <div ng-if="!item.type || item.type === 'image'" style="background-image: url('{{ galleryPath }}{{ item.image }}');">
      </div>
      <!-- If object is video -->
      <div ng-if="item.type && item.type === 'video'" class="video">
        <embed-video data-ng-href="{{ item.video }}" width="100%" height="450"></embed-video>
      </div>
    </li>
  </flex-slider>
</div>

<div class="thumbnails_wrapper">
  <flex-slider slider-id="thumb-carousel"
    flex-slide="item in images track by $index" animation="slide"
    animation-loop="false" item-width="{{ thumbWidth }}"
    item-margin="12" as-nav-for="#slider" slideshow="false"
    control-nav="false">
  <li ng-class="{'video' : item.type && item.type === 'video'}">
    <img ng-src="{{ galleryThumbPath }}{{ item.image }}"
    width="{{ thumbWidth }}" height="{{ thumbHeight }}"
    alt="{{ item.description }}" />
    <div ng-if="item.type && item.type === 'video'" class="thumb_video"></div>
  </li>
  </flex-slider>
</div>

